body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
 }
 
 h1 {
     color: #ffffff;
     
 }
  p {
    margin: 0;
    font-size: 24px;
  }
 span { 
     color: #000000;
     font-size: 24px;
 }
#centralizar {
   display: flex;
   width: 100%;
   height: 100%;
   max-width: 2056px;
   align-items: center;
   flex-direction: column;
  
   }
   
 
 #centralizar2 {
   display: flex;
   max-width: 100%;
   height: 100%;
   justify-content: center;
    align-items: center;
   flex-direction: column;
   }
   
 .flexrow{
   display: flex;
   gap: 20px;
 }
 header {
    height: 80px;
    width: 100%;
    max-width: 2056px;
    background-color: rgb(0, 0, 0);
    display: flex; 
    justify-content: space-between;
    align-items: center;
 } 
 header img {
   height: 60px;
   width: 60px;

 }

 header nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
 
 }

 header nav ul li a {
  color: #ffffff;
  padding: 30px 20px;
  text-decoration: none;
  
}

header nav ul li a:hover, .active{
  color: #ff5e00;
  border-bottom: 2px solid #ff5e00;
}
header nav ul li button {
  color: #ffffff;
  background-color: #ff5e00;
  padding: 10px 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  
}
 #content {
    height: 100%;
    width: 100%;
    min-height: 720px;
    max-width: 2056px;
    background-color: rgb(49, 49, 49);
    display: flex;
    gap: 20px;
    color: #ffffff;

   
 }
 #footer {
    height: 150px;
    width: 100%;
    max-width: 2056px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
 }
 .flex-row{
    display: flex;
    width: 100%;
    

 }
 #menu {
   display: flex;
    height: 50px;
    width: 500px;
    background-color: rgb(212, 89, 89);
    justify-content: space-around;
 }

 #menu a {
   color: aliceblue;
   text-decoration: none;
 }
 #cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

 }

 .carteira {
  display: flex;
  height: 250px;
  width: 400px;
  background-color: silver;
  border-radius: 20px;
  margin: 20px;
  flex-direction: column;
  position: relative;
 
 }
 .ticker {
  height: 50px;
  min-height: 50px;
  width: 400px;
  background-color: #ff5e00;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
 }
 .espacador{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 10px;
  
 }
 .meio span{
  font-size: 50px;
  
 }
 .espacador_footer{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 10px;
  
 }
 main img{
  height: 40px;
  width: 40px;
 }
 .variacaop{
  display: flex;
  justify-content: end;
  padding: 0 10px;
  color: rgb(102, 131, 73);
 }
 .variacaon{
  display: flex;
  justify-content: end;
  padding: 0 10px;
  color: rgb(255, 0, 0);
 }
.meio {
 margin:0 auto;
 display: flex;
}
div .meio p {
  font-size: 50px;
  color:  rgb(102, 131, 73);
}
.modal{
  background-color: #000000c0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal main {
  background-color: #ffffff;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  padding: 20px;
}
.modal main h1 {
  color: #000000;

}
.modal main form{
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}
.modal main label {
  margin: 10px 0 0 0;
}
.modal main form input[ type = "text"], .modal main form select{
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}
.modal main form input[ type = "submit"], button {
  background-color: #ff5e00;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  margin: 20px 0;
  cursor: pointer;


}
.buttons {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000098;
  align-items: center;
  display: none;
  justify-content: center;
  border-radius: 20px;
  gap: 20px;
}
.buttons button{
  height: 50px;
  width: 80px;
}

table, td, th{
border: 2px solid #ffffff

}

table{
width: 360px;
border-collapse: collapse;
color: #ffffff;
}

td{
padding: 5px 5px;
}