body {
   background-color: #ffffff;
}

h1 {
    color: #234234;
    
}
 p {
   margin: 0;
 }
span { 
    color: #04047d;
}
#header {
   height: 10vh;
   width: 210vh;
   background-color: rgb(255, 0, 119);
   display: flex; 
   justify-content: space-between;
   align-items: center;

}

#header img {
   height: 100px;
   width: 100px;

}


#sidebar {
   height: 33vh;
   width: 210vh;
   background-color: blue;
}


#content {
   height: 33vh;
   width: 210vh;
   background-color: chartreuse;
}
#footer {
   height: 33vh;
   width: 210vh;
   background-color: darkred;
   color: #ffffff;
}
.flex-row{
   display: flex;
   flex-direction: column;

}
.flex-row2{
  display: flex;
}
#menu {
  display: flex;
   height: 50px;
   width: 500px;
   background-color: rgb(212, 89, 89);
   justify-content: space-around;
}

#menu a {
  color: aliceblue;
  text-decoration: none;
}

#pesquisa {
   height: 50px;
   width: 500px;
   background-color: aquamarine;
}