body {
    background-color: #ffffff;
 }
 
 h1 {
     color: #234234;
     
 }
  p {
    margin: 0;
  }
 span { 
     color: #04047d;
 }
#centralizar {
   display: flex;
   width: 100%;
   max-width: 2056px;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   }
   
 
 #centralizar2 {
   display: flex;
   max-width: 100%;
   justify-content: center;
    align-items: center;
   flex-direction: column;
   }
   
 
 #header {
    height: 80px;
    width: 100%;
    max-width: 2056px;
    background-color: rgb(185, 185, 185);
    display: flex; 
    justify-content: space-between;
 }

 #header img {
   height: 90px;

 }
 #sidebar {
    height: 550px;
    width: 150px;
    background-color: blue;
 }
 

 #content {
    height: 550px;
    width: 100%;
    max-width: 2056px;
    
    background-color: chartreuse;
 }
 #footer {
    height: 150px;
    width: 100%;
    max-width: 2056px;
    background-color: darkred;
    color: #ffffff;
 }
 .flex-row{
    display: flex;
    width: 100%;
    

 }
 #menu {
   display: flex;
    height: 50px;
    width: 500px;
    background-color: rgb(212, 89, 89);
    justify-content: space-around;
 }

 #menu a {
   color: aliceblue;
   text-decoration: none;
 }